<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header class="container-fluid" id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                MENU
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12" id="logo">
            <img src="../logo.png" alt="">
        </div>
        <div class="col-sm-12" id="naam">Restaurant PR*JCT</div>
        <div class="col-sm-12 naaronder">
            <a href="#typo">
                <span class="glyphicon glyphicon-menu-down hidden-xs"></span>
            </a>
        </div>
    </div>
</header>
<div class="container-fluid" id="typo">
    <div class="row" id="typo-container">
        <div class="col-sm-5 col-sm-offset-1" id="typo-links">
            <div class="col-sm-12"><h2>De best sushi<br> in town.</h2></div>
            <div class="col-sm-12">
                <div id="quote">Heerlijk eten voor een eerlijke prijs</div>
            </div>
        </div>
        <div class="col-sm-6" id="typo-rechts">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ab aliquid, atque culpa deserunt dolorem ducimus eius eum harum
            laboriosam modi molestiae necessitatibus quas sequi vel?</p>
        </div>
        <div class="col-sm-12 naaronder2">
            <a href="#impressie">
                <span class="glyphicon glyphicon-menu-down hidden-xs"></span>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid" id="impressie">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>

<div class="container-fluid" id="fotos">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <div class="col-sm-12 naaronder2">
        <a href="#impressie2">
            <span class="glyphicon glyphicon-menu-down hidden-xs"></span>
        </a>
    </div>
</div>

<div class="container-fluid" id="impressie2">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>

<div class="container-fluid" id="info">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-envelope"></span>

            <!-- om het mail adres om te vormen -->
            <script language="javascript" type="text/javascript">
                var pre = "stefan";
                document.write("<a href='mailto:" + pre + "@illutek.be'>" + pre
                + "@illutek.be</a>");
            </script>
            <noscript><a href="reserveer">Naar contact pagina</a></noscript>

        </div>
        <div class="col-sm-4"><span class="glyphicon glyphicon-cutlery"></span> Reserveer
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-earphone"></span>
            Bel ons +32 11 23 45
        </div>
    </div>
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Meir,+Antwerpen&amp;aq=0&amp;oq=Antwerpen+mier&amp;sll=51.219448,4.402464&amp;sspn=0.318683,0.837021&amp;ie=UTF8&amp;hq=&amp;hnear=Meir,+Antwerpen+2000+Antwerpen&amp;ll=51.2181,4.408818&amp;spn=0.039841,0.104628&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            <br/>
            <small>
                <a href="https://maps.google.be/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=Meir,+Antwerpen&amp;aq=0&amp;oq=Antwerpen+mier&amp;sll=51.219448,4.402464&amp;sspn=0.318683,0.837021&amp;ie=UTF8&amp;hq=&amp;hnear=Meir,+Antwerpen+2000+Antwerpen&amp;ll=51.2181,4.408818&amp;spn=0.039841,0.104628&amp;t=m&amp;z=14"
                   style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
        </div>
        <div class="col-sm-6"></div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
<script src="../js/jquery.smooth-scroll.js"></script>
</body>
</html>